{% extends "base.html" %}

{% load static %}


{% block extra-javascript %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{% static 'training/js/all-participant-list-page.js' %}"></script>



{% endblock %}

{% block title %}
    Manage All Participants - Training System
{% endblock %}

{% block manage.content %}

    <!--<script>-->
        <!--$(function () {-->
            <!--training.allParticipantListPage.initialise();-->
        <!--});-->
    <!--</script>-->

    <!--<script>-->
        <!--$(function(){-->
            <!--var availableTags = [-->
                <!--"ActionScript",-->
                <!--"AppleScript",-->
                <!--"Asp",-->
                <!--"BASIC",-->
                <!--"C",-->
                <!--"C++",-->
                <!--"Clojure",-->
                <!--"COBOL",-->
                <!--"ColdFusion",-->
                <!--"Erlang",-->
                <!--"Fortran",-->
                <!--"Groovy",-->
                <!--"Haskell",-->
                <!--"Java",-->
                <!--"JavaScript",-->
                <!--"Lisp",-->
                <!--"Perl",-->
                <!--"PHP",-->
                <!--"Python",-->
                <!--"Ruby",-->
                <!--"Scala",-->
                <!--"Scheme"-->
            <!--];-->
            <!--//$(".autocomplete").autocomplete({-->
        <!--$("#id_username").autocomplete({-->

                <!--// minchars: 1,-->
                <!--// lookup: function (query, done) {-->
                <!--//     // Do Ajax call or lookup locally, when done,-->
                <!--//     // call the callback and pass your results:-->
                <!--//     var result = {-->
                <!--//         suggestions: [-->
                <!--//             { "value": "United Arab Emirates", "data": "AE" },-->
                <!--//             { "value": "United Kingdom",       "data": "UK" },-->
                <!--//             { "value": "United States",        "data": "US" }-->
                <!--//         ]-->
                <!--//     };-->
                <!--//-->
                <!--//     done(result);-->
                <!--// },-->
                <!--// onSelect: function (suggestion) {-->
                <!--//     // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);-->
                <!--//     alert("hello");-->
                <!--// }-->
                <!--source: availableTags-->
            <!--});-->

          <!--});-->
    <!--</script>-->





    <div class="row-fluid">
        <div class="span12">
            <h2>Participants</h2>
        </div>
    </div>

    <form class="form" action="{% url 'admin_participant_list' %}" method="post">
        {% csrf_token %}


        <div class="controls controls-row">

            <div id="div_id_username" class="control-group span2">
                <label class="control-label" for="id_username"> Username </label>
                <input id="id_username" class="autocomplete" type="text" name="username" maxlength="50" >
                <!--<input id="id_username" class="input-block-level textinput textInput" type="text" tabindex="90" placeholder="Search on username." name="username" maxlength="50"{% if form.username.value %} value="{{ form.username.value }}"{% endif %}>-->
            </div>


        </div>

    </form>

    <div id="context-menu">

    </div>




{% endblock %}

