{% extends 'dashing/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'custom/custom_dash_style.css' %}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'custom/custom_dash_script.js' %}"></script>
{% endblock %}

{% block config_file %}
    <h1>MY CUSTOM DASHBOARD @ views.py!!!!</h1>
<script type="text/javascript" src="{% static 'custom-config.js' %}"></script>
{% endblock %}

