{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <title>TeamCity Dashboard</title>#}
{#    <script src="https://use.fontawesome.com/a3145f2a3e.js"></script>#}
{#    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">#}
{#    <link type="text/css" href="{% static "css/main.css" %}" media="all" rel="stylesheet">#}
{#    <script>#}
{#        var minute = 60 * 1000;#}
{#        setTimeout(function() {#}
{#            location.reload(true);#}
{#        }, 2 * minute);#}
{#    </script>#}
    <style>
        ol li{
            list-style-type:none;
        }
    </style>
</head>
<body>
<div class="sentry">
    <div>
        <div style="width: 100%; display: inline-block">
            <ol class="results">
            {% for alert in alerts %}
                <li class="alert_level">
                    <span class="centered">
                        {{ alert.count_level }}
                    </span>
                </li>
                <li class="alert_level">
                    <span class="centered">
                        {{ alert.description }}
                    </span>
                </li>
                <li class="alert_last_seen">
                    <span class="centered">
                        {{ alert.last_seen }}
                    </span>
                </li>
            {% endfor %}
            </ol>
        </div>
    </div>
</div>

</body>
</html>