{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TeamCity Dashboard</title>
    <script src="https://use.fontawesome.com/a3145f2a3e.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link type="text/css" href="{% static "css/main.css" %}" media="all" rel="stylesheet">
{#    <script>#}
{#        var minute = 60 * 1000;#}
{#        setTimeout(function() {#}
{#            location.reload(true);#}
{#        }, 2 * minute);#}
{#    </script>#}
</head>
<body>
<div class="tests">
    {% for project in projects %}
        <div class="panel {{ project.status }}">
            <div style="width: 43%; display: inline-block">
                <h1><i class="fa fa-fw fa-{{ project.icon }}" aria-hidden="true"></i> {{ project.name|upper }}</h1>
            </div>
            <div style="width: 20%; display: inline-block">
                <h2>pass: {{ project.numbers.passed }} fail: {{ project.numbers.failed }}</h2>
                <h3>count: {{ project.numbers.count }} skip: {{ project.numbers.skipped }}</h3>
            </div>
            <div style="width: 35%; display: inline-block">
                <ol class="results">
                {% for result in project.results %}
                    <li class="point">
                        <span class="centered">
                            {% if result == 'S' %}
                                <i class="fa fa-fw fa-circle" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-fw fa-times" aria-hidden="true"></i>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
                </ol>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>