{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Base Template</title>

        {% block head-extras %}{% endblock %}

        {% block extra-javascript %}{% endblock %}


    </head>

    <body>
    {% block content %}{% endblock content %}
    </body>
</html>
