{% extend "testautocomp/base.html" %}

{% block head-extras %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
{% endblock %}

{% block extra-javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="ui-widget">
      <label for="drugs">Drugs: </label>
      <input id="drugs">
    </div>
{% endblock content %}