<div>
    <h1>{ scope.title }</h1>
    <ul>
      <li rv-each-item="data">
        <span class="label">{ item.label }</span>
        <span class="value">{ item.value }</span>
      </li>
    </ul>
    <p class="more-info">{ moreInfo }</p>
    <p class="updated-at">{ updatedAt }</p>
</div>
