{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">



<head>


    <meta charset="utf-8">

    {% block title %}

    {% endblock %}

        <style>
            body {
                padding-top: 110px;
            }
        </style>



    {% block head-extras %}

    {% endblock %}



{#    <script src="{% static 'js/common.js' %}"></script>#}



    {% block extra-javascript %}

        {#        <script src="{% static 'js/default-page.js' %}"></script>#}
    {% endblock %}



</head>







<body>

        <div class="navbar navbar-fixed-top hidden-print">

            <div class="otago-navbar-inner">

                <div class="container-fluid">
        {#            <a tabindex="-1" class="otago-brand" href="{% url 'admin_dashboard' %}"><img alt="University of Otago" src="https://secure-www.otago.ac.nz/_assets/_gfx/logo.png"></a>#}

                        <div class="otago-navbar-header">

                                <div class="otago-navbar-title">
                                </div>

                                <div class="otago-navbar-user-block">
                                </div>

                                <div class="otago-header-nav">
                                        <div class="otago-header-nav-children">
                                        </div>
                                </div>

                        </div>
                </div>
            </div>
        </div>



        <div class="container-fluid">

            {% block content %}

                    <div class="row-fluid">
                        <div class="span12">

                                {% block manage.content %}
                                {% endblock %}

                        </div>
                    </div>


            {% endblock %}




        </div>


</body>
</html>
