{% if data_list %}
    <ul>
    {% for datarow in data_list %}
        <!--<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
        <li>{{ datarow.col1 }}</li>
        <li>{{ datarow.col2 }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No data_list is available.</p>
{% endif %}