{#{% extends 'base.html' %}#}

{% block content %}
    {% if not documents %}
        {% include "emailattsend/inc_upload_view.html" %}
    {% else %}
        <p>Uploaded files:</p>
        {% for obj in documents %}
          <li>
            <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
            <small>(Uploaded at: {{ obj.uploaded_at }})</small>
          </li>
        {% endfor %}
    {% endif %}


{% endblock %}