{#{% extends 'base.html' %}#}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
      <p>uploaded_file_url is : {{ uploaded_file_url }}</p>
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p><p>{{ uploaded_file_pk }}</p>
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}