<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>uploadandemail.html</title>
    </head>
    <body>
	<form action="{% url 'upload_file_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                {{ form.file }}
            </p>
        <p><input type="submit" value="Attach"></p>
        </form>
    </body>
</html>